@import './sass/materialize';
@import './sass/colors';

/* GENERAL
/**********/

* {
  outline: 0;
  user-select: none;
  user-drag: none;
}

body {
  background-color: $primary-color;
}

.full.row {
  max-width: 100%;
}

.row {
  max-width: 95%;
}

.relative {
  position: relative;
}

.inset {
  box-shadow: inset 8px 0px 8px -6px rgba(92, 92, 92, 1);
}

p {
  margin-top: 0;
}

@media #{$large-and-up} {
  section > .row {
    max-width: 90%;
  }
}

/* Navbar
/*********/

nav {
  height: 50px;
  line-height: 40px;
  padding-top: 7px;
  position: fixed;
  z-index: 101;
  top: 0;
  .nav-wrapper {
    max-width: 95%;
    margin: 0 auto;
    @media #{$large-and-up} {
      max-width: 90%;
    }
    ul {
      li {
        border-bottom: 3px solid rgba(230, 230, 230, 0);
        transition: border 0.3s;
        &:active,
        &:hover,
        &:focus,
        &.active {
          border-color: rgba(230, 230, 230, 1);
          background: transparent;
        }
        a {
          color: $white;
          padding: 0 13px;
          &:hover {
            background: none;
          }
        }
      }
    }
  }
}

/* HOME
/*********/

header {
  height: 250px;
  background-repeat: no-repeat;
  background-size: 1000px;
  background-position: -130px 40%;
  @media only screen and (min-width: 666px) {
    background-size: 150%;
    background-position: -120px 40%;
  }
  @media screen and (min-width: $large-screen-up) {
    background-size: 110%;
  }
  h2 {
    position: relative;
    z-index: 100;
    padding-top: 50px;
    color: $white;
  }
}

section#intro {
  background: $grey;
  .row {
    margin-bottom: 0;
    p {
      padding-top: 30px;
      padding-bottom: 5px;
    }
  }
}

section#social {
  background: $grey;
  .row {
    padding: 25px 0 0 0;
    margin-bottom: 0;
    .col {
      text-align: center;
      padding-bottom: 25px;
      a {
        color: $primary-color;
        img {
          background: grey;
          border-radius: 50%;
          display: inline-block;
          margin-bottom: 0.5rem;
          padding: 0.75rem;
        }
      }
    }
  }
}

.charts {
  padding: 0 10%;
  text-align: center;
  .chart {
    position: relative;
    display: inline-block;
    width: 110px;
    height: 110px;
    margin: 5px 20px 15px 20px;
    text-align: center;
    canvas {
      position: absolute;
      top: 0;
      left: 0;
    }
    .skill {
      display: inline-block;
      line-height: 110px;
      width: 110px;
      z-index: 2;
    }
  }
}
