---
// Component Imports
import MainHead from '../components/MainHead.astro';
import Nav from '../components/Nav/index.jsx';
import Intro from '../components/Intro/index.jsx';
import Content from '../components/Content/index.jsx';
import Social from '../components/Social/index.jsx';
import Footer from '../components/Footer/index.jsx';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---
<html lang="en">
  <head>
    <MainHead />
  </head>
  <body>
    <Nav />
    <Intro client:idle />
    <Content client:visible />
    <Social />
    <Footer />
  </body>
</html>
