---
// Component Imports
import MainHead from '../components/MainHead.astro';
import Nav from '../components/Nav';
import Intro from '../components/Intro';
import Content from '../components/Content';
import Social from '../components/Social';
import Footer from '../components/Footer';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---
<html lang="en">
  <head>
    <MainHead />
  </head>
  <body>
    <Nav />
    <Intro />
    <Content />
    <Social />
    <Footer />
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-80276642-1"></script>
  </body>
</html>
