@import '../../../public/sass/materialize';
@import '../../../public/sass/colors.scss';

.footer {
  background: $primary-color;
  min-height: 45px;

  p {
    margin: 0;
    color: white;
    text-align: center;
    padding-top: 12px;
    padding-right: 10px;
    padding-left: 10px;
    text-align: left;

    span {
      display: inline;
      padding: 5px;
    }

    a {
      padding-right: 10px;
      color: white;
      float: right;
    }

    img {
      display: inline;
    }
  }
}

.email {
  position: relative;
  top: -7px;
}
