@import '../../../public/sass/materialize';
@import '../../../public/sass/colors.scss';

.nav {
  height: 50px;
  line-height: 40px;
  padding-top: 7px;
  position: fixed;
  z-index: 101;
  top: 0;
}

.navWrapper {
  max-width: 95%;
  margin: 0 auto;
  @media #{$large-and-up} {
    max-width: 90%;
  }
}

.list {
  li {
    border-bottom: 3px solid rgba(230, 230, 230, 0);
    transition: border 0.3s;
    &:active,
    &:hover,
    &:focus,
    &.active {
      border-color: rgba(230, 230, 230, 1);
      background: transparent;
    }
    a {
      color: $white;
      padding: 0 13px;
      &:hover {
        background: none;
      }
    }
  }
}
